{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body>
	<header>
	  <div role="banner">
	  	{% include header.html %}
	  </div>

	  <nav role="navigation" class="navigation">
	  	{% assign pages_list = site.pages %}
    	{% assign group = 'navigation' %}
	  	{% include navigation.html %}
	  	<div class="mini-nav"><i class="icon-reorder"></i></div>
	  </nav>
	</header>

	{% unless page.sidebar == false %}
	<div id="main" class="sidebar">
		<div id="sidebar">
			{% include search.html %}
			<div id="browser">
				<nav role="navigation" class="browser">
					{% include browser.html %}
				</nav>
			</div>
		</div>
	{% else %}
	<div id="main">
		{% include search.html %}
	{% endunless %}
		<div id="content">
			{{ content | expand_urls: root_url }}
		</div>
	</div>

	<footer role="contentinfo">{% include footer.html %}</footer>
{% include after_footer.html %}
</body>
</html>
