body > header {
  .title-header {
    color: $title_color;
    a, a:visited, a:hover {
      color: $text-color;
  	}
  	.description {
    	margin-top: 3px;
    	color: $text-color-light;
    }
  }
}
