body > header > nav {
  background-color: $nav-bg;
  cursor: pointer;
  @include border-radius(3px);
  @include background-clip(border-box);
  overflow: hidden;
  ul {
  	list-style: none;
  	li {
      box-sizing: border-box;
  		float: left;
      @include transition;
  		&:hover {
  			background-color: $nav-bg-hover;
        a {
          color: $nav-color-hover;
        }
  		}
      &.active {
        background-color: $nav-bg-active;
        a {
          color: $nav-color-active;
        }
      }
  		a {
        @include transition;
        color: $nav-color;
  			min-width: 35px;
				margin: 10px 10px;
  		}
  	}
  }
}