#search {
	clear: both;
	fieldset {
		position: relative;
		width: 100%;
		input[type=text] {
			padding-left: 0.8em;
			display: block;
			width: 100%;
			@include box-sizing(border-box);
			height: 33px;
			@include media(handheld) {
				height: 41px;
				@include border-radius(5px);
			}
			border: 1px solid #aaa;
			@include border-radius(2px);
			&:focus {
				border-color: rgba(0, 113, 117, 0.8);
				@include box-shadow(rgba(82, 168, 236, 0.8) 0 0 10px);
				outline: none;
			}
		}
		button[type=submit] {
			position: absolute;
			right: 0;
			top: 0;
			display: block;
			width: 39px;
			height: 35px;
			background: none;
			border: none;
			box-shadow: none;
			color: $text-color-light;
			@include media(handheld) {
				width: 45px;
				height: 43px;
			}
		}
	}
}