.tags {
	margin-bottom: 1em;
	a {
		white-space: nowrap;
		margin-right: 0.4em;
		padding: 0.2em 0.3em;
		color: $text-color-light;
		border: 1px solid $text-color-verylight;
		background-color: $light-bg;
		@include border-radius(2px);
	}
}