.tags {
	a {
		white-space: nowrap;
		margin-right: 0.6em;
		padding: 0.3em 0.4em;
		color: $text-color-light;
		border: 1px solid $border-color-light;
		background-color: $light-bg;
		@include border-radius(2px);
		&:hover {
			color: $text-color;
		}
	}
}