.tags {
	a {
		white-space: nowrap;
		margin-right: 0.6em;
		padding: 0.3em 0.4em;
		color: $text-color-light;
		border: 1px solid $text-color-verylight;
		background-color: $light-bg;
		@include border-radius(2px);
	}
}