body {
	background-color: $main-bg;
}

.clear { clear: both; }
.hidden { display: none; }
.invisible { opacity: 0; }
.right { float: right; }
.left { float: left; }
.nobr {white-space: nowrap}
.right-align {text-align: right; }

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {display: inline-block;}

* html .clearfix {height: 1%;}
.clearfix {display: block;}

a {
  @include link-colors($link-color, $hover: $link-color-hover, $focus: $link-color-hover, $visited: $link-color-visited, $active: $link-color-active);
  text-decoration: none;
  @include transition-property(color);
  @include transition-duration(.3s);
}

img { max-width: 100%; }

.btn {
	cursor: pointer;

	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	@include border-radius(5px);
	background-color: #f5f5f5;
	@include background-image(linear-gradient(top, white, #e6e6e6));
	background-repeat: repeat-x;
	border: 1px solid #ccc;
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.15);
	@include box-shadow(rgba(0,0,0,0.1) 1px 1px 4px);
	&:hover, &:focus {
		@include background-image(linear-gradient(top, white, #ddd));
	}
	&:active {
		background-image: none;
		@include box-shadow(rgba(0,0,0,0.1) -3px 3px 5px inset);
	}
}
