$max-width: 1100px !default;
$browser-width: 300px;

$indented-lists: false !default;

$header-font-size: 1.0em !default;
$header-padding-top: 1.5em !default;
$header-padding-bottom: 1.5em !default;

.group { @include pie-clearfix; }

body {
  -webkit-text-size-adjust: none;
  max-width: $max-width;
  position: relative;
  margin: 0 auto;
  > header {
    font-size: $header-font-size;
    padding-top: $header-padding-top;
    padding-bottom: $header-padding-bottom;
  }
}

body > header{
  padding-top: 25px;
  padding-bottom: 40px;

  nav {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    line-height: 35px;
  }
}

#main {
  #browser {
    float: left;
    width: $browser-width;
    padding-right: 40px;
  }

  #content {
    overflow: hidden;
    position: relative;
    top: 0px;
    min-height: 300px;
  }

  &.sidebar #content {
    margin-left: $browser-width;
  }
  &:not(.sidebar) #content {
    width: 900px;
    margin: auto;
  }
}

body > footer {
  margin-top: 4em;
  margin-bottom: 0em;
}

@if $indented-lists == false {
  @media only screen and (min-width: 768px) {
    ul, ol { margin-left: 0; }
  }
}

