$browser-width: 320px !default;
$browser-padding: 40px !default;

$header-font-size: 1.0em !default;
$header-padding-top: 25px !default;
$header-padding-bottom: 40px !default;

$pad-min: 10px;
$pad-medium: 25px;
$pad-wide: 60px;

.group { @include pie-clearfix; }

body {
  -webkit-text-size-adjust: auto;
  position: relative;
  margin: 0 auto;
  padding: 0 $pad-medium;
  @include media(handheld) {
    padding: 0 $pad-min;
  }
  @include media(wide) {
    padding: 0 $pad-wide;
  }
  > header {
    position: relative;
    font-size: $header-font-size;
    padding-top: $header-padding-top;
    padding-bottom: $header-padding-bottom;
    @include media(handheld) {
      padding-bottom: 0;
    }

    nav.navigation {
      position: absolute;
      top: 29px;
      right: 0;
      line-height: 35px;
      .mini-nav {
        display: none;
      }
      @include media(handheld) {
        position: relative;
        margin: 20px auto 0 auto;
        width: 100%;
        top: 5px;
      }
    }
  }
}

#main {
  #sidebar {
    @include media(display) {
      float: left;
      padding-right: $browser-padding;
    }
    @include media(wide) {
      width: $browser-width + 20px;
    }
    #browser {
      @include media(handheld) {
        display: none;
      }
    }
  }

  #content {
    overflow: hidden;
    position: relative;
    top: -5px;
    min-height: 300px;
  }

  &.sidebar {
    margin-top: 20px;
    #search {
      position: relative;
      display: block;
      margin-bottom: 30px;
      @include media(handheld) {
        width: 100%;
      }
    }
    #content {
      @include media(handheld) {
        margin-left: 0;
      }
    }
  }
  &:not(.sidebar) {
    #search {
      display: none;
    }
    #content {
      @include media(display) {
        padding: 0 10%;
      }
      margin: auto;
    }
  }
}

body > footer {
  margin-top: 4em;
  margin-bottom: 0em;
}

