article {
  header {
    margin-bottom: 25px;
    h1 {
      position: relative;
      margin-bottom: 15px;

      margin: 10px 0;
      @include media(wide) {
        margin: 20px 0;
      }
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .description {
      color: $text-color-light;
      padding: 0 80px;
    }
    p {
      font-size: .9em;
      color: $text-color-verylight;
      margin: 0;
      &.meta {
        @extend .sans;
        text-transform: uppercase;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  .entry-content {
    margin-bottom: 40px;
  }

  counter-reset: section;

  padding-top: 1em;
  a { @extend .force-wrap; }
  h2 {
    padding-top: 0.8em;
    counter-reset: sub-section;
    counter-reset: composite;
  }
  .entry-content & h2:first-child, header + h2 { padding-top: 0; }
  h2:first-child, header + h2 { background: none; }
  .feature {
    padding-top: .5em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    font-size: 2.0em; font-style: italic;
    line-height: 1.3em;
  }
  h2:before{
    counter-increment: section;
    content: counter(section) "";

    background: $base02;
    color: $base2;

    margin-right: 20px;
    padding: 2px 5px;
    font-weight: bold;
  }
  img, video, .flash-video {
    @include shadow-box;
  }
  video, .flash-video { margin: 0 auto 1.5em; }
  video { display: block; width: 100%; }
  .flash-video {
    > div {
      position: relative;
      display: block;
      padding-bottom: 56.25%;
      padding-top: 1px;
      height: 0;
      overflow: hidden;
      iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  > footer {
    padding-bottom: 2.5em;
    margin-top: 2em;
    @extend .sans;
    .meta {
      list-style: none;
      padding: 0;
      margin: 0;

      display: none;
      border-spacing: 0px;

      margin: 1em 0;
      width: 100%;
      overflow: auto;

      @include media(handheld) {
        display: table;
      }

      > li {
        display: table-cell;
        &.page-link-prev { padding-right: 10px; }
        &.page-link-next { padding-left: 10px; }
        > a {
          @include border-radius(3px);
          background-color: $nav-bg;
          border: none;
          display: block;
          padding: 15px 15px;
          text-align: center;
        }
      }
    }
    .byline + time:before, time +time:before, .comments:before, .byline ~ .categories:before {
      @extend .separator;
    }
  }

}
article + article {
  .blog-index & {
  }
}

.separator {
  content: "\2022 ";
  padding: 0 .4em 0 .2em;
  display: inline-block;
}
