.browser {
  ul {
    list-style: none;
    margin-left: 0;
    li {
      background: $browser-bg;
      margin-bottom: 8px;
      @include border-radius(2px);
      &:hover {
        background: $browser-bg-hover;
      }
      .title {
        color: $browser-title-color;
        padding: 0.3em 0;
      }
      .description {
        margin-top: 0.1em;
        color: $browser-description-color;
      }
      .published {
        color: $browser-published-color;
      }
      a {
        padding: 0.6em;
        display: block;
        border: none;
        color: $browser-color;
      }
      &.active {
        background: $browser-bg-active;
        a {color: $browser-color-active};
        .published { color: $browser-published-color-active; }
        .title {  color: $browser-title-color-active; }
        .description { color: $browser-description-color-active; }
      }

      @include transition(0.8s ease-out);
      @include transition-property(color background-color)

    }
  }
}