body > header .title-header {
  color: $title_color;
  a, a:visited, a:hover {
		border-bottom: none;
	}
	.description {
  	display: block;
  	margin-top: 3px;
  	color: $text-color-light;
  }
  .subtitle{
  	@include media(mobile) {
      display: none;
    }
  }
}
