body > header > nav {
  cursor: pointer;
  overflow: hidden;
  @include media(handheld) {
    @include border-radius(3px);
    background-color: $nav-bg;
    line-height: 1.5em;
  }
  ul {
  	list-style: none;
    margin: 0;
    li {
  		float: left;
      padding: 0;
      margin: 0;
      background-color: $nav-bg;
      @include transition-property(border-color color background-color);
      @include transition-duration(0.5s);
      &:first-child {
        @include border-left-radius(3px);
      }
      &:last-child {
        @include border-right-radius(3px);
      }
  		&:hover {
  			background-color: $nav-bg-hover;
        a {
          border: none;
          color: $nav-color-hover;
        }
  		}
      &.active {
        background-color: $nav-bg-active;
        a {
          border: none;
          color: $nav-color-active;
        }
      }
  		a {
        border: none;
        display: block;
        @include transition-property(border-color color);
        @include transition-duration(0.5s);
        color: $nav-color;
  			min-width: 35px;
				padding: 0px 12px;
        @include media(handheld) {
          padding: 8px 20px;
          @include border-radius(3px);
        }
        &:hover {
          border: none;
        }
  		}
  	}
  }
}