body > header > nav {
  cursor: pointer;
  overflow: hidden;
  @include media(handheld) {
    @include border-radius(3px);
    background-color: $nav-bg;
    line-height: 1.5em;
  }
  ul {
  	list-style: none;
    margin: 0;
    li {
  		float: left;
      background-color: $nav-bg;
      @include transition-property(background-color);
      @include transition-duration(0.5s);
      @include media(handheld) {
        padding: 5px 12px;
        @include border-radius(3px);
      }
      &:first-child {
        @include border-left-radius(3px);
      }
      &:last-child {
        @include border-right-radius(3px);
      }
  		&:hover {
  			background-color: $nav-bg-hover;
        a {
          border-color: $nav-color-hover;
          color: $nav-color-hover;
        }
  		}
      &.active {
        background-color: $nav-bg-active;
        a {
          color: $nav-color-active;
        }
      }
  		a {
        @include transition-property(border-color color);
        @include transition-duration(0.5s);
        color: $nav-color;
  			min-width: 35px;
				margin: 10px 12px;
  		}
  	}
  }
}