$browser-width: 310px !default;
$browser-width-wide: $browser-width + 30px !default;
$browser-padding: 20px !default;
$browser-padding-wide: 30px !default;

$header-font-size: 1.0em !default;
$header-margin-top: 20px !default;
$header-margin-bottom: 36px !default;

$pad-min: 15px;
$pad-medium: 50px;
$pad-wide: 80px;

.group { @include pie-clearfix; }

body {
  min-width: 360px;
  -webkit-text-size-adjust: auto;
  position: relative;
  margin: 0 auto;
  padding: 0 $pad-medium;
  @include media(handheld) {
    padding: 0 $pad-min;
  }
  @include media(wide) {
    padding: 0 $pad-wide;
  }
  > header {
    font-size: $header-font-size;
    margin-top: $header-margin-top;
    margin-bottom: $header-margin-bottom;
    @include media(handheld) {
      margin-bottom: 0.5*$header-margin-bottom;
    }
    @include media(wide) {
      margin-top: 1.2*$header-margin-top;
      margin-bottom: 1.2*$header-margin-bottom;
    }

    .banner {
      float: left;
      @include media(default) {
        margin-top: 14px;
      }
    }

    nav.navigation {
      float: right;
      @include media(handheld) {
        position: relative;
        margin: 20px auto 0 auto;
        width: 100%;
        top: 5px;
      }
      @include media(wide) {
        margin-top: 6px;
      }
    }
  }
}

#main {
  #sidebar {
    @include media(display) {
      width: $browser-width;
      float: left;
      padding-right: $browser-padding;
    }
    @include media(wide) {
      width: $browser-width-wide;
      padding-right: $browser-padding-wide;
    }
    #browser {
      @include media(handheld) {
        display: none;
      }
    }
  }

  #content {
    overflow: hidden;
    position: relative;
    min-height: 300px;
  }

  &.sidebar {
    margin-top: 20px;
    #search {
      position: relative;
      display: block;
      margin-bottom: 30px;
      @include media(handheld) {
        width: 100%;
        margin-bottom: 20px;
      }
    }
    #content {
      @include media(handheld) {
        margin-left: 0;
      }
    }
  }
  &:not(.sidebar) {
    #search {
      display: none;
    }
    #content {
      margin: 0; 
      @include media(handheld) {
        padding: 0 10px;
      }
      @include media(display) {
        padding: 0 10%;
      }
      @include media(wide) {
        padding: 0 20%;
      }
    }
  }
}

body > footer {
  clear: both;

  margin-top: 3em;
  margin-bottom: 0em;
}

