$max-width: 1100px !default;
$browser-width: 320px !default;
$browser-padding: 40px !default;

$header-font-size: 1.0em !default;
$header-padding-top: 25px !default;
$header-padding-bottom: 40px !default;

$pad-min: 10px;
$pad-medium: 25px;

.group { @include pie-clearfix; }

body {
  -webkit-text-size-adjust: auto;
  max-width: $max-width;
  position: relative;
  margin: 0 auto;
  padding: 0 $pad-medium;
  @include media(handheld) {
    padding: 0 $pad-min;
  }
  > header {
    position: relative;
    font-size: $header-font-size;
    padding-top: $header-padding-top;
    padding-bottom: $header-padding-bottom;

    nav.navigation {
      position: absolute;
      top: 29px;
      right: 0;
      line-height: 35px;
      .mini-nav {
        display: none;
      }
      @include media(handheld) {
        position: relative;
        margin: 20px auto 0 auto;
        width: 100%;
      }
    }
  }
}

#main {
  #browser {
    float: left;
    width: $browser-width;
    padding-right: $browser-padding;
    @include media(handheld) {
      display: none;
    }
    @include media(wide) {
      width: $browser-width + 20px;
    }
  }

  #content {
    overflow: hidden;
    position: relative;
    top: 0px;
    min-height: 300px;
  }

  &.sidebar #content {
    margin-left: $browser-width;
    @include media(handheld) {
      margin-left: 0;
    }
  }
  &:not(.sidebar) #content {
    @media only screen and (min-width: 980px) {
      padding: 0 10%;
    }
    margin: auto;
  }
}

body > footer {
  margin-top: 4em;
  margin-bottom: 0em;
}

