/* Main Section Colors */
$main-color: #002b36 !default;
$second-color: darken(#DDDDDB, 5) !default;

$main-bg: #f0efe7 !default;
$border-color: #d8d7cf !default;

$light-bg: #DDDDDB !default;
$border-color-light: darken($light-bg, 20) !default;

/* Texts */
$title-color: $main-color !default;

$text-color: #4e443c !default;
$text-color-light: #9a9994 !default;

$heading-color: $main-color !default;

/* Main Link Colors */
$link-color: #0388a6 !default;
$link-color-hover: lighten($link-color, 10) !default;
$link-color-visited: $link-color !default;
$link-color-active: $link-color-hover !default;

/* Browser */
$browser-color: $main-color !default;
$browser-title-color: $browser-color !default;
$browser-published-color: $browser-color !default;
$browser-description-color: $text-color-light !default;

$browser-bg: tranparent !default;
$browser-bg-hover: $second-color !default;
$browser-bg-active: $main-color !default;

$browser-color-active: #fff !default;
$browser-title-color-active: $browser-color-active !default;
$browser-published-color-active: $browser-color-active !default;
$browser-description-color-active: adjust-color($browser-bg-active, $saturation: -85, $lightness: 45) !default;

/* Navigation */
$nav-bg: $light-bg !default;
$nav-color: $main-color !default;

$nav-bg-hover: darken($second-color, 10) !default;
$nav-color-hover:  darken($nav-color, 30) !default;

$nav-bg-active: $main-color !default;
$nav-color-active: $browser-color-active !default;

/* Footer */
$footer-color: $text-color-light !default;
$footer-link-color: darken($footer-color, 35) !default;
$footer-link-color-hover: darken($footer-color, 55) !default;

/* non highlighted code colors */
$code-bg: #fff;
$code-color: $text-color;
$line-nb-bg: $light-bg;

$orange: #f14e32;
$blue: #009099;
