<div>
<article class="hentry" role="article">
  {% if page.title %}
  <header>
    <h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
    <h2 class="author hidden">{{ site.author }}</h2>
    {% if page.description %}<p class="description">{{ page.description }}</p>{% endif %}
    {% if page.date %}<p class="meta" title="date published">{% include post/date.html %}{{ time }}</p>{% endif %}
  </header>
  {% endif %}

  <div class="entry-content">
    {{ content }}
  </div>

  <footer>
    {% unless page.tags == null %}
      {% assign tags_list = page.tags %}
      {% include post/tags.html %}
    {% endunless %}
    {% unless page.sharing == false %}
      {% include post/sharing.html %}
    {% endunless %}
    <ul class="meta">
    {% if page.previous.url %}
      <li class="page-link-prev">
        <a class="page-link" href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}"><i class=" icon-angle-left"></i></a>
      </li>
    {% endif %}
      <li>
        <a href="/blog/archives" class="archive-link"><i class="icon-calendar"></i> Blog archive</a>
      </li>
    {% if page.next.url %}
      <li class="page-link-next">
        <a class="page-link" href="{{page.next.url}}" title="Next Post: {{page.next.title}}"> <i class=" icon-angle-right"></i></a>
      </li>
    {% endif %}
    </ul>
  </footer>
</article>
{% if site.disqus_short_name and page.comments == true %}
  <section>
    <h1>Comments</h1>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
  </section>
{% endif %}
</div>