<div>
<article class="hentry" role="article">
  {% if page.title %}
  <header>
    <h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
    <h2 class="author hidden">{{ site.author }}</h2>
    {% if page.description %}<p class="description">{{ page.description }}</p>{% endif %}
    {% if page.date %}<p class="meta" title="date published">{% include post/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}</p>{% endif %}
  </header>
  {% endif %}

  <div class="entry-content">
    {{ content }}
  </div>

  <footer>
    <p class="meta">
      {% include post/author.html %}
      {% include post/categories.html %}
      {% include post/tags.html %}
    </p>
    <ul class="meta">
    {% if page.previous.url %}
      <li class="page-link-prev">
        <a class="page-link" href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">
          <i class=" icon-angle-left"></i>
          <span>{{ page.previous.title }}</span>
        </a>
      </li>
    {% endif %}
      <li class="archive-link">
        <a href="/blog/archives"><i class="icon-calendar"></i> Blog archive</a>
      </li>
    {% if page.next.url %}
      <li class="page-link-next">
        <a class="page-link" href="{{page.next.url}}" title="Next Post: {{page.next.title}}">
          <span>{{ page.next.title }}</span>
          <i class=" icon-angle-right"></i>
        </a>
      </li>
    {% endif %}
    </ul>
    {% if page.sharing %}
      {% include post/sharing.html %}
    {% endif %}
  </footer>
</article>
{% if site.disqus_short_name and page.comments == true %}
  <section>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
  </section>
{% endif %}
</div>