{% include custom/navigation.html %}
<ul class="social-links">
  <li>
      <a href="https://twitter.com/{{site.twitter_user}}" title="Twitter"><i class="fa fa-lg fa-twitter"></i></a>
    </li>
    <li>
      <a href="https://github.com/{{site.github_user}}" title="Github"><i class="fa fa-lg fa-github"></i></a>
    </li>
    <li>
      <a href="https://www.facebook.com/{{site.facebook_user}}" title="Facebook"><i class="fa fa-lg fa-facebook"></i></a>
    </li>
    <li>
      <a href="http://www.linkedin.com/pub/{{site.linkedin_profile}}" title="Linkedin"><i class="fa fa-lg fa-linkedin"></i></a>
    </li>
</ul>
