<ul>
	{% for weight in (1..6) %}
	  {% for node in pages_list %}
	    {% if node.weight == weight %}
	    	{% if node.menu-title %}
	    	  {% assign title = node.menu-title %}
	    	{% elsif node.title %}
	    	  {% assign title = node.title %}
	    	{% endif %}
	      {% if title != null %}
	        {% if group == node.group %}
	          {% if page.url == node.url %}
	          <li class="active">
	          {% else %}
	          <li>
	          {% endif %}
	          <a href="{{BASE_PATH}}{{node.url | remove:'index.html'}}">
            {% if node.icon %}
              <i class="icon icon-{{node.icon}}"></i>
            {% endif %}
            {{title}}</a></li>
	        {% endif %}
	      {% endif %}
	    {% endif %}
	  {% endfor %}
	{% endfor %}
</ul>
<ul class="social-links">
  <li>
      <a href="https://twitter.com/{{site.twitter_user}}" title="Twitter"><i class="icon-large icon-twitter"></i></a>
    </li>
    <li>
      <a href="https://github.com/{{site.github_user}}" title="Github"><i class="icon-large icon-github"></i></a>
    </li>
    <li>
      <a href="https://www.facebook.com/{{site.facebook_user}}" title="Facebook"><i class="icon-large icon-facebook"></i></a>
    </li>
    <li>
      <a href="http://www.linkedin.com/pub/{{site.linkedin_profile}}" title="Linkedin"><i class="icon-large icon-linkedin"></i></a>
    </li>
</ul>